{% set cardType = card.cardType %}
{% set cardClass = "#{cardType}-style" %}
{% set cardTemplate = 'partials/card.html.twig' %}

{% set inputTemplate = 'partials/elements/input.html.twig' %}
{% set textAreaTemplate = 'partials/elements/textarea.html.twig' %}
{% set selectInputTemplate = 'partials/elements/select.html.twig' %}
{% set checkboxInputTemplate = 'partials/elements/checkbox.html.twig' %}
{% set iconTemplate = 'partials/svg-icon.html.twig' %}
{% set buttonTemplate = 'partials/elements/button.html.twig' %}

{% set inputCardType = 'input' %}
{% set textInputType = 'text' %}
{% set textAreaInputType = 'textarea' %}
{% set selectInputType = 'select' %}
{% set checkboxInputType = 'checkbox' %}
{% set inputType = card.inputType %}
{% set inputClass = card.inputClass %}
{% set inputDisabled = card.disabled %}
{% set inputChecked = card.checked %}
{% set inputPlaceholder = card.inputPlaceholder | default('FIRST NAME') %}
{% set selectOptions = card.selectOptions %}
{% set checkboxLabel = card.checkboxLabel | default('Click Me') %}

{% set iconCardType = 'icon' %}
{% set iconId = card.iconId %}

{% set buttonCardType = 'button' %}
{% set buttonClass = card.buttonClass %}
{% set buttonContent = card.buttonContent | default('Click Here') %}

{% set typographyCardType = 'typography' %}
{% set typographyClass = card.typographyClass %}

{% set colorCardType = 'color' %}
{% set colorClass = card.colorClass %}

{% set aspectRatio = card.aspectRatio %}

{% if cardType == colorCardType %}
    {% set aspectRatio = aspectRatio | default('is-4by3') %}
{% endif %}

{% embed cardTemplate with { cardClass: cardClass } %}
    {% block card_image %}
        {% if cardType == colorCardType or cardType == iconCardType %}
            <figure class="image {{ aspectRatio }} {{ colorClass }}">
                {% if cardType == iconCardType %}
                    {% include iconTemplate with { iconId: iconId } %}
                {% endif %}
            </figure>
        {% endif %}
        {% if cardType == buttonCardType %}
            {% embed buttonTemplate with {
                class: buttonClass,
            } %}
                {% block button_content %}
                    {{ buttonContent }}
                {% endblock %}
            {% endembed %}
        {% endif %}
        {% if cardType == inputCardType %}
            {% if inputType == textInputType %}
                {% include inputTemplate with {
                    inputType: inputType,
                    inputClass: inputClass,
                    placeholder: inputPlaceholder
                } only %}
            {% elseif inputType == textAreaInputType %}
                {% include textAreaTemplate with {
                    inputClass: inputClass,
                    placeholder: inputPlaceholder
                } %}
            {% elseif inputType == selectInputType %}
                {% include selectInputTemplate with {
                    inputClass: inputClass,
                    options: selectOptions
                } %}
            {% elseif inputType == checkboxInputType %}
                {% include checkboxInputTemplate with {
                    inputClass: inputClass,
                    checked: inputChecked,
                    disabled: inputDisabled,
                    label: checkboxLabel
                } %}
            {% endif %}
        {% endif %}
    {% endblock %}
    {% block card_content %}
        {% if cardType == iconCardType %}
            {% set template = iconTemplate %}
            <p>{{ iconId }}</p>
        {% elseif cardType == typographyCardType %}
            <p class="{{ typographyClass }}">Aa Zz</p>
            <hr>
            <p>.{{ typographyClass }}</p>
        {% elseif cardType == colorCardType %}
            <p>.{{ colorClass }}</p>
        {% elseif cardType == buttonCardType %}
            {% set template = buttonTemplate %}
            <p>.button.{{ buttonClass }}</p>
        {% elseif cardType == inputCardType %}
            {% if inputType == textInputType %}
                {% set template = inputTemplate %}
                <p>input[type="{{ inputType }}"].input.{{ inputClass }}</p>
            {% elseif inputType == textAreaInputType %}
                {% set template = textAreaTemplate %}
                <p>.textarea.{{ inputClass }}</p>
            {% elseif inputType == selectInputType %}
                {% set template = selectInputTemplate %}
                <p>.select.{{ inputClass }}</p>
            {% elseif inputType == checkboxInputType %}
                {% set template = checkboxInputTemplate %}
                <p>label.checkbox.{{ inputClass }}</p>
            {% endif %}
        {% endif %}
        {% if template %}
            <p>Template : {{ template }}</p>
        {% endif %}
    {% endblock %}
{% endembed %}
