{% set cardType = card.cardType %}
{% set cardClass = "#{cardType}-style" %}
{% set cardTemplate = 'partials/card.html.twig' %}

{% set inputTemplate = 'partials/elements/input.html.twig' %}
{% set textAreaTemplate = 'partials/elements/textarea.html.twig' %}
{% set sliderTemplate = 'partials/elements/slider.html.twig' %}
{% set selectInputTemplate = 'partials/elements/select.html.twig' %}
{% set checkboxInputTemplate = 'partials/elements/checkbox.html.twig' %}
{% set iconTemplate = 'partials/svg-icon.html.twig' %}
{% set buttonTemplate = 'partials/elements/button.html.twig' %}

{% set inputCardType = 'input' %}
{% set textInputType = 'text' %}
{% set textAreaInputType = 'textarea' %}
{% set sliderInputType = 'range' %}
{% set selectInputType = 'select' %}
{% set checkboxInputType = 'checkbox' %}
{% set iconCardType = 'icon' %}
{% set buttonCardType = 'button' %}
{% set typographyCardType = 'typography' %}
{% set colorCardType = 'color' %}

{% set inputType = card.inputType %}
{% set inputClass = card.inputClass %}
{% set inputDisabled = card.disabled %}
{% set inputChecked = card.checked %}
{% set inputPlaceholder = card.inputPlaceholder | default('FIRST NAME') %}
{% set selectOptions = card.selectOptions %}
{% set checkboxLabel = card.checkboxLabel | default('Click Me') %}

{% set iconId = card.iconId %}
{% set iconClass = card.iconClass %}
{% set iconContent = card.iconContent %}

{% set buttonClass = card.buttonClass %}
{% set buttonContent = card.buttonContent %}
{% set buttonAddons = card.addons %}

{% set typographyClass = card.typographyClass %}

{% set colorClass = card.colorClass %}

{% set aspectRatio = card.aspectRatio %}

{% if cardType == colorCardType %}
    {% set aspectRatio = aspectRatio | default('is-4by3') %}
{% endif %}

{% embed cardTemplate with { cardClass: cardClass } %}
    {% block card_image %}
        {% if cardType == colorCardType or cardType == iconCardType %}
            <figure class="image {{ aspectRatio }} {{ colorClass }}">
                {% if cardType == iconCardType %}
                    {% include iconTemplate with { iconId: iconId, iconClass: iconClass } %}
                {% endif %}
            </figure>
        {% endif %}
        {% if cardType == buttonCardType %}
            {% include buttonTemplate with {
                class: buttonClass,
                addons: buttonAddons,
                iconId: iconId,
                iconClass: iconClass,
                content: buttonContent
            } only %}
        {% endif %}
        {% if cardType == inputCardType %}
            {% if inputType == textInputType %}
                {% include inputTemplate with {
                    inputType: inputType,
                    inputClass: inputClass,
                    placeholder: inputPlaceholder
                } only %}
            {% elseif inputType == textAreaInputType %}
                {% include textAreaTemplate with {
                    inputClass: inputClass,
                    placeholder: inputPlaceholder
                } only %}
            {% elseif inputType == sliderInputType %}
                {% include sliderTemplate with {
                    inputClass: inputClass
                } only %}
            {% elseif inputType == selectInputType %}
                {% include selectInputTemplate with {
                    inputClass: inputClass,
                    options: selectOptions,
                    iconId: iconId
                } only %}
            {% elseif inputType == checkboxInputType %}
                {% include checkboxInputTemplate with {
                    inputClass: inputClass,
                    checked: inputChecked,
                    disabled: inputDisabled,
                    label: checkboxLabel
                } only %}
            {% endif %}
        {% endif %}
    {% endblock %}
    {% block card_content %}
        {% if cardType == iconCardType %}
            {% set template = iconTemplate %}
            {% if iconId %}<p>iconId : {{ iconId }}</p>{% endif %}
            {% if iconClass %}<p>iconClass : {{ iconClass }}</p>{% endif %}
            {% if iconContent %}<p>:before content : {{ iconContent }}</p>{% endif %}
        {% elseif cardType == typographyCardType %}
            <p class="{{ typographyClass }}">Aa Zz</p>
            <hr>
            <p>.{{ typographyClass }}</p>
        {% elseif cardType == colorCardType %}
            <p>.{{ colorClass }}</p>
        {% elseif cardType == buttonCardType %}
            {% set template = buttonTemplate %}
            <p>.{% if buttonAddons %}buttons{% else %}button{% endif %}.{{ buttonClass }}</p>
        {% elseif cardType == inputCardType %}
            {% if inputType == textInputType %}
                {% set template = inputTemplate %}
                <p>input[type="{{ inputType }}"].input.{{ inputClass }}</p>
            {% elseif inputType == textAreaInputType %}
                {% set template = textAreaTemplate %}
                <p>.textarea.{{ inputClass }}</p>
            {% elseif inputType == sliderInputType %}
                {% set template = sliderTemplate %}
                <p>.is-range-slider</p>
            {% elseif inputType == selectInputType %}
                {% set template = selectInputTemplate %}
                <p>.select.{{ inputClass }}</p>
            {% elseif inputType == checkboxInputType %}
                {% set template = checkboxInputTemplate %}
                <p>label.checkbox.{{ inputClass }}</p>
            {% endif %}
        {% endif %}
        {% if template %}
            <p>Template : {{ template }}</p>
        {% endif %}
    {% endblock %}
{% endembed %}
