{% set buttonCardType = 'button' %}
{% set iconCardType = 'icon' %}
{% set typographyCardType = 'typography' %}
{% set colorCardType = 'color' %}
{% set cardType = card.cardType %}
{% set cardClass = "#{cardType}-style" %}
{% set iconId = card.iconId %}
{% set buttonClass = card.buttonClass %}
{% set typographyClass = card.typographyClass %}
{% set colorClass = card.colorClass %}
{% set aspectRatio = card.aspectRatio %}

{% if cardType == colorCardType %}
    {% set aspectRatio = aspectRatio | default('is-4by3') %}
{% endif %}

{% embed 'partials/card.html.twig' with { cardClass: cardClass } %}
    {% block card_image %}
        {% if cardType == colorCardType or cardType == iconCardType %}
            <figure class="image {{ aspectRatio }} {{ colorClass }}">
                {% if cardType == 'icon' %}
                    {% include 'partials/svg-icon.html.twig' with { iconId: iconId } %}
                {% endif %}
            </figure>
        {% endif %}
        {% if cardType == buttonCardType %}
            <button class="button {{ buttonClass }}">Click Here</button>
        {% endif %}
    {% endblock %}
    {% block card_content %}
        {% if cardType == iconCardType %}
            <p>{{ iconId }}</p>
        {% elseif cardType == typographyCardType %}
            <p class="{{ typographyClass }}">Aa Zz</p>
            <hr>
            <p>.{{ typographyClass }}</p>
        {% elseif cardType == colorCardType %}
            <p>.{{ colorClass }}</p>
        {% elseif cardType == buttonCardType %}
            <p>.button.{{ buttonClass }}</p>
        {% endif %}
    {% endblock %}
{% endembed %}
