{% set formTemplate = 'partials/forms/contact-form.html.twig' %}
{#
Header yaml example:
contact:
    titleOne: 'Lakewood Ranch Commercial'
    titleTwo: 'Commercial Contacts'
    address: '<strong>LWR Commercial Realty</strong><br>14400 Covenant Way Lakewood Ranch, FL 34202'
    phone: 941.907.6677
    hours:
        -
            day: 'Mon. - Fri 9:00 am - 5:30 pm EST'
        -
            day: 'Sat. - Sun 10:00 am - 6:00 pm EST'
persons:
    -
        name: 'John Doe'
        title: CEO
        email: john@doe.com
        phone: 333-444-5555
    -
        name: 'Bradley Pitts'
        title: CFO
        email: bradley@pitts.com
        phone: 555-666-7777
#}
<section class="contact is-fullheight">
    <div class="columns">
        <div class="container column is-8 is-bg-blue-light">
            <div class="form-container">
                {{ content }}
                <!-- <form method="" action="">
                    {% include formTemplate only %}
                </form> -->
                {% include "forms/form.html.twig" %}
            </div>
        </div>

        <aside class="column is-4 is-narrow-mobile is-fullheight section">
            <h2>{{ page.header.contact.titleOne }}</h2>
            <p>{{ page.header.contact.address }}</p>
            <p>Phone: <a href="tel:{{ page.header.contact.phone }}">{{ page.header.contact.phone }}</a></p>
            <p><strong>Hours:</strong><br>
                {% for hour in page.header.contact.hours %}
                    {{ hour.day }}<br>
                {% endfor %}
            </p>
            <h2>{{ page.header.contact.titleTwo }}</h2>
            {% for person in page.header.persons %}
                <p><strong>{{ person.name }}</strong><br>{{ person.title }}</p>
                <p><a href="mailto:{{ person.email }}">{{ person.email }}</a><br>
                <a href="tel:{{ person.phone }}">{{ person.phone }}</a></p>
            {% endfor %}
        </aside>
    </div>
</section>