{# Vars #}
{% set itemLabel   = 'item one' %}
{% set itemContent = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.'%}

<section class="property-accordion">
    <div class="container">
        <div class="tab">
            <input id="tab-one" type="checkbox" name="tabs">
            <label for="tab-one">{{ itemLabel }}</label>
            <div class="tab-content">
                <p>{{ itemContent }}</p>
            </div>
        </div>
        <div class="tab">
            <input id="tab-two" type="checkbox" name="tabs">
            <label for="tab-two">{{ itemLabel }}</label>
            <div class="tab-content">
                <p>{{ itemContent }}</p>
            </div>
        </div>
        <div class="tab">
            <input id="tab-three" type="checkbox" name="tabs">
            <label for="tab-three">{{ itemLabel }}</label>
            <div class="tab-content">
                <p>{{ itemContent }}</p>
             </div>
         </div>
    </div>
<section>