{% set buttonTemplate = 'partials/elements/button.html.twig' %}

{% if page.header.classes %}
<section class="statistics lwrc {{ page.header.classes }}">
{% else %}
<section class="statistics lwrc">
{% endif %}
    <div class="statistics-body">
        <div class="container is-fluid">
        	{% if page.header.title %}
            	<h2 class="is-proxima-nova-bold type__data-section--heading is-uppercase">{{ page.header.title }}</h2>
            {% endif %}

            {% if page.content %}
                <div class="content">
                    {{ page.content }}
                </div>
            {% endif %}

            {% if page.header.buttons %}
                {% for button in page.header.buttons %}
                    <div class="is-center">
                        {% include buttonTemplate with { content: button.label, class: button.class, href: button.link } only %}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="columns is-multiline statistics-container is-fluid">

                {% for statistic in page.header.statistics %}
                    <div class="column is-4 is-full-mobile is-full-tablet">

                        {% for key, value in statistic %}
                            <h3 class="type__data-section--value">{{ value }}</h3>
                            <p>{{ key }}</p>
                        {% endfor %}

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>