{% set iconTemplate = 'partials/svg-icon.html.twig' %}
{% if addons %}
    <div class="buttons {{ class }}">
        {% for addon in addons %}
            <span class="button {{ addon.class }} {{ addon.iconClass }}" {% if addon.disabled %} disabled{% endif %}>
                {% if addon.content %}{{ addon.content }}{% endif %}
                {% if addon.iconId %}
                    {% include iconTemplate with {
                        iconId: addon.iconId,
                        contextualClass: addon.contextualClass
                    } only %}
                {% endif %}
            </span>
        {% endfor %}
    </div>
{% else %}
    <button class="button {{ class }} {{ iconClass }}" {% if disabled %} disabled{% endif %}>
        {% if iconId %}
            {% include iconTemplate with {
                iconId: iconId
            } only %}
        {% elseif content %}
            {{ content }}
        {% endif %}
    </button>
{% endif %}
