<section class="is-range-slider">
    <!-- implementation idea https://wikiki.github.io/form/slider/ -->
    <span class="rangeValues"><output for="slider1value">50 ac</output></span>
    <input id="slider1value" value="{{ valueSlider1 }}" min="{{ minValueSlider1 }}" max="{{ maxValueSlider1 }}" step="{{ stepSlider1 }}" type="range">
    <span class="rangeValues"><output for="slider2value">5 ac</output></span>
    <input id="slider2value" value="{{ valueSlider2 }}" min="{{ minValueSlider2 }}" max="{{ maxValueSlider2 }}" step="{{ stepSlider2 }}" type="range">
</section>
